@model IEnumerable<Project_DotNet.Models.DBModel.Product>
<div class="container">
    <div class="container-x">
        <a href="/Xemtatca_sp.html">
            <h2>Sản phẩm nổi bật</h2>
        </a>
        <div id="list-product">
            @foreach (var item in Model)
            {
                <div class="box-product">
                    <div class="hover-img">
                        <div class="imgs">
                            <img class="w-100" src="@item.Image" alt="@item.Title">
                        </div>
                        <div>
                            <h3 class="product-title">@item.Title</h3>
                            <div class="icon-star">
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                            </div>
                            <div class="product-size">(@item.Size)</div>
                            <div class="product-price">@item.PriceNew đ</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
